<!DOCTYPE html>
<html>

<head>
  <title>Error page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>

<body>
  <div class="container">
    <div>
      <center>
        <img src="/images/403.png">
        <h2 class="home-page"><b>Access Denied/Forbidden</b></h2>
        <h4>The page or resource you were trying to reach is absolutely forbidden for some reason.<h4><br>
            <a href="/profile"><button type="button" class="btn bg-white home-page"><i
                  class="fa fa-angle-double-left"></i> Back To Dashboard </button>
            </a>
      </center>
    </div>
  </div>
</body>

</html>